{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    ["transform-replace-object-assign", "simple-assign"],
    "transform-runtime",
    //"transform-es2015-classes",//同transform-decorators-legacy冲突
    "transform-dev-warning",
    "transform-decorators-legacy"
  ],
  "env": {
    "test": {
      "sourceMaps": "both"
    },
    "development": {
      "plugins": [
        ["transform-replace-object-assign", "simple-assign"],
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    },
    "release": {
      "plugins": [
        "transform-runtime",
        ["transform-react-remove-prop-types", {"mode": "wrap"}]
      ],
    }
  }
}
